# ===== Servidor =====
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# ===== Banco de dados =====
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# ===== Autenticação =====
ADMIN_EMAIL=suporte.admjeszone@sesi.senai.com.br
ADMIN_PASSWORD=0e1e6c5d1e2e7c1c6e9e9d5e0e7b6a5f

JWT_SECRET=teste_seguro_limit_teste_teste_teste_limit_seguro
JWT_ISSUER=jeszone-api
JWT_AUDIENCE=jeszone-admin
JWT_EXPIRES_IN=8h